SAMBA Components/Execute/testingservice/web/WEB-INF/wsdl/localhost_8080/Controlled/Controlled.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.controlled/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.controlled/" name="Controlled">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.controlled/" schemaLocation="http://localhost:8080/Controlled/Controlled?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="stop">
<part name="parameters" element="tns:stop"></part>
</message>
<message name="virtualizeForTesting">
<part name="parameters" element="tns:virtualizeForTesting"></part>
</message>
<message name="virtualizeForTestingResponse">
<part name="parameters" element="tns:virtualizeForTestingResponse"></part>
</message>
<message name="stopVirtualization">
<part name="parameters" element="tns:stopVirtualization"></part>
</message>
<message name="stopVirtualizationResponse">
<part name="parameters" element="tns:stopVirtualizationResponse"></part>
</message>
<message name="getListOfServiceDiscovered">
<part name="parameters" element="tns:getListOfServiceDiscovered"></part>
</message>
<message name="getListOfServiceDiscoveredResponse">
<part name="parameters" element="tns:getListOfServiceDiscoveredResponse"></part>
</message>
<message name="startControlledService">
<part name="parameters" element="tns:startControlledService"></part>
</message>
<message name="startControlledServiceResponse">
<part name="parameters" element="tns:startControlledServiceResponse"></part>
</message>
<portType name="Controlled">
<operation name="stop">
<input message="tns:stop"></input>
</operation>
<operation name="virtualizeForTesting">
<input message="tns:virtualizeForTesting"></input>
<output message="tns:virtualizeForTestingResponse"></output>
</operation>
<operation name="stopVirtualization">
<input message="tns:stopVirtualization"></input>
<output message="tns:stopVirtualizationResponse"></output>
</operation>
<operation name="getListOfServiceDiscovered">
<input message="tns:getListOfServiceDiscovered"></input>
<output message="tns:getListOfServiceDiscoveredResponse"></output>
</operation>
<operation name="startControlledService">
<input message="tns:startControlledService"></input>
<output message="tns:startControlledServiceResponse"></output>
</operation>
</portType>
<binding name="ControlledPortBinding" type="tns:Controlled">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="stop">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
</operation>
<operation name="virtualizeForTesting">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="stopVirtualization">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getListOfServiceDiscovered">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startControlledService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="Controlled">
<port name="ControlledPort" binding="tns:ControlledPortBinding">
<soap:address location="http://localhost:8080/Controlled/Controlled"></soap:address>
</port>
</service>
</definitions>