SAMBA Components/Execute/testingservice/src/conf/xml-resources/web-service-references/BpelWSService/wsdl/localhost_8080/BpelEngineWS/BpelWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://communication.supportForTestingService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://communication.supportForTestingService/" name="BpelWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://communication.supportForTestingService/" schemaLocation="http://localhost:8080/BpelEngineWS/BpelWSService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getBpelFile">
<part name="parameters" element="tns:getBpelFile"></part>
</message>
<message name="getBpelFileResponse">
<part name="parameters" element="tns:getBpelFileResponse"></part>
</message>
<message name="setSoaStatus">
<part name="parameters" element="tns:setSoaStatus"></part>
</message>
<message name="setSoaStatusResponse">
<part name="parameters" element="tns:setSoaStatusResponse"></part>
</message>
<message name="getSoaStatus">
<part name="parameters" element="tns:getSoaStatus"></part>
</message>
<message name="getSoaStatusResponse">
<part name="parameters" element="tns:getSoaStatusResponse"></part>
</message>
<message name="getBpelFileNumber">
<part name="parameters" element="tns:getBpelFileNumber"></part>
</message>
<message name="getBpelFileNumberResponse">
<part name="parameters" element="tns:getBpelFileNumberResponse"></part>
</message>
<message name="getAWsdlFiles">
<part name="parameters" element="tns:getAWsdlFiles"></part>
</message>
<message name="getAWsdlFilesResponse">
<part name="parameters" element="tns:getAWsdlFilesResponse"></part>
</message>
<message name="startTestingService">
<part name="parameters" element="tns:startTestingService"></part>
</message>
<message name="startTestingServiceResponse">
<part name="parameters" element="tns:startTestingServiceResponse"></part>
</message>
<message name="stopVirtualCopy">
<part name="parameters" element="tns:stopVirtualCopy"></part>
</message>
<message name="stopVirtualCopyResponse">
<part name="parameters" element="tns:stopVirtualCopyResponse"></part>
</message>
<message name="startVirtualCopy">
<part name="parameters" element="tns:startVirtualCopy"></part>
</message>
<message name="startVirtualCopyResponse">
<part name="parameters" element="tns:startVirtualCopyResponse"></part>
</message>
<portType name="BpelWS">
<operation name="getBpelFile">
<input message="tns:getBpelFile"></input>
<output message="tns:getBpelFileResponse"></output>
</operation>
<operation name="setSoaStatus">
<input message="tns:setSoaStatus"></input>
<output message="tns:setSoaStatusResponse"></output>
</operation>
<operation name="getSoaStatus">
<input message="tns:getSoaStatus"></input>
<output message="tns:getSoaStatusResponse"></output>
</operation>
<operation name="getBpelFileNumber">
<input message="tns:getBpelFileNumber"></input>
<output message="tns:getBpelFileNumberResponse"></output>
</operation>
<operation name="getAWsdlFiles">
<input message="tns:getAWsdlFiles"></input>
<output message="tns:getAWsdlFilesResponse"></output>
</operation>
<operation name="startTestingService">
<input message="tns:startTestingService"></input>
<output message="tns:startTestingServiceResponse"></output>
</operation>
<operation name="stopVirtualCopy">
<input message="tns:stopVirtualCopy"></input>
<output message="tns:stopVirtualCopyResponse"></output>
</operation>
<operation name="startVirtualCopy">
<input message="tns:startVirtualCopy"></input>
<output message="tns:startVirtualCopyResponse"></output>
</operation>
</portType>
<binding name="BpelWSPortBinding" type="tns:BpelWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getBpelFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setSoaStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getSoaStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getBpelFileNumber">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAWsdlFiles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startTestingService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="stopVirtualCopy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="startVirtualCopy">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="BpelWSService">
<port name="BpelWSPort" binding="tns:BpelWSPortBinding">
<soap:address location="http://localhost:8080/BpelEngineWS/BpelWSService"></soap:address>
</port>
</service>
</definitions>