SAMBA Components/Plan/MBTestCaseGen/src/wsdl/192.168.56.5_8080/testingservice/TestingWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://networkCommunication.testingService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://networkCommunication.testingService/" name="TestingWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://networkCommunication.testingService/" schemaLocation="http://192.168.56.5:8080/testingservice/TestingWSService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="stop">
<part name="parameters" element="tns:stop"></part>
</message>
<message name="startTestingService">
<part name="parameters" element="tns:startTestingService"></part>
</message>
<message name="startTestingServiceResponse">
<part name="parameters" element="tns:startTestingServiceResponse"></part>
</message>
<message name="sendUpdateNumberOfBpelFiles">
<part name="parameters" element="tns:sendUpdateNumberOfBpelFiles"></part>
</message>
<message name="sendUpdateNumberOfBpelFilesResponse">
<part name="parameters" element="tns:sendUpdateNumberOfBpelFilesResponse"></part>
</message>
<message name="sendUpdateBpelFiles">
<part name="parameters" element="tns:sendUpdateBpelFiles"></part>
</message>
<message name="sendUpdateBpelFilesResponse">
<part name="parameters" element="tns:sendUpdateBpelFilesResponse"></part>
</message>
<message name="controlServiceHasChanged">
<part name="parameters" element="tns:controlServiceHasChanged"></part>
</message>
<message name="controlServiceHasChangedResponse">
<part name="parameters" element="tns:controlServiceHasChangedResponse"></part>
</message>
<message name="exeTestInstruction">
<part name="parameters" element="tns:exeTestInstruction"></part>
</message>
<message name="exeTestInstructionResponse">
<part name="parameters" element="tns:exeTestInstructionResponse"></part>
</message>
<message name="resetTestVariables">
<part name="parameters" element="tns:resetTestVariables"></part>
</message>
<message name="resetTestVariablesResponse">
<part name="parameters" element="tns:resetTestVariablesResponse"></part>
</message>
<message name="getDependenciesPathForBPELName">
<part name="parameters" element="tns:getDependenciesPathForBPELName"></part>
</message>
<message name="getDependenciesPathForBPELNameResponse">
<part name="parameters" element="tns:getDependenciesPathForBPELNameResponse"></part>
</message>
<message name="fetchDataFromFilePath">
<part name="parameters" element="tns:fetchDataFromFilePath"></part>
</message>
<message name="fetchDataFromFilePathResponse">
<part name="parameters" element="tns:fetchDataFromFilePathResponse"></part>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"></part>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"></part>
</message>
<message name="startOnlineModelBasedTestforBpel">
<part name="parameters" element="tns:startOnlineModelBasedTestforBpel"></part>
</message>
<message name="startOnlineModelBasedTestforBpelResponse">
<part name="parameters" element="tns:startOnlineModelBasedTestforBpelResponse"></part>
</message>
<portType name="TestingWS">
<operation name="stop">
<input message="tns:stop"></input>
</operation>
<operation name="startTestingService">
<input message="tns:startTestingService"></input>
<output message="tns:startTestingServiceResponse"></output>
</operation>
<operation name="sendUpdateNumberOfBpelFiles">
<input message="tns:sendUpdateNumberOfBpelFiles"></input>
<output message="tns:sendUpdateNumberOfBpelFilesResponse"></output>
</operation>
<operation name="sendUpdateBpelFiles">
<input message="tns:sendUpdateBpelFiles"></input>
<output message="tns:sendUpdateBpelFilesResponse"></output>
</operation>
<operation name="controlServiceHasChanged">
<input message="tns:controlServiceHasChanged"></input>
<output message="tns:controlServiceHasChangedResponse"></output>
</operation>
<operation name="exeTestInstruction">
<input message="tns:exeTestInstruction"></input>
<output message="tns:exeTestInstructionResponse"></output>
</operation>
<operation name="resetTestVariables">
<input message="tns:resetTestVariables"></input>
<output message="tns:resetTestVariablesResponse"></output>
</operation>
<operation name="getDependenciesPathForBPELName">
<input message="tns:getDependenciesPathForBPELName"></input>
<output message="tns:getDependenciesPathForBPELNameResponse"></output>
</operation>
<operation name="fetchDataFromFilePath">
<input message="tns:fetchDataFromFilePath"></input>
<output message="tns:fetchDataFromFilePathResponse"></output>
<fault message="tns:FileNotFoundException" name="FileNotFoundException"></fault>
<fault message="tns:IOException" name="IOException"></fault>
</operation>
<operation name="startOnlineModelBasedTestforBpel">
<input message="tns:startOnlineModelBasedTestforBpel"></input>
<output message="tns:startOnlineModelBasedTestforBpelResponse"></output>
</operation>
</portType>
<binding name="TestingWSPortBinding" type="tns:TestingWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="stop">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
</operation>
<operation name="startTestingService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sendUpdateNumberOfBpelFiles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="sendUpdateBpelFiles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="controlServiceHasChanged">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="exeTestInstruction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="resetTestVariables">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getDependenciesPathForBPELName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="fetchDataFromFilePath">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"></soap:fault>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="startOnlineModelBasedTestforBpel">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="TestingWSService">
<port name="TestingWSPort" binding="tns:TestingWSPortBinding">
<soap:address location="http://192.168.56.5:8080/testingservice/TestingWSService"></soap:address>
</port>
</service>
</definitions>